<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
  <link rel="stylesheet" href="css/bootstrap.css">

  </head>
  <body>


            <h3 class="text-center">Chequear Boleto</h3>
                    <br>
    
   
    <div class=" container">

    <div class="row">
        <div class="col d-none d-sm-block"></div>
        <div class="col col-sm-5 ">
            <div class="card">
            
        
    <form>
       
    <div class="form-group row mt-2 mx-2">
    <label for="inputPassword" class="col col-form-label ">Cedula:</label>
    <div class="col-7 ">
      <input type="text" class="form-control" id="inputPassword" placeholder="Cedula">
    </div>
  </div>
</form>

<div> <!-- PARA EL AJAX--> 

  <div class="form-group row mx-2">
    <label for="staticEmail" class="col col-form-label">Destino:</label>
    <div class="col">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
    </div>
  </div>
    
    <div class="form-group row mx-2">
    <label for="staticEmail" class="col col-form-label">Nombre y Apellido:</label>
    <div class="col">
      <input type="text" nombrenly class="form-control-plaintext" id="staticEmail" value="email@example.com">
    </div>
  </div>

    <div class="form-group row mx-2">
    <label for="staticEmail" class="col col-form-label">N Boleto:</label>
    <div class="col">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
    </div>
  </div>
    
        <div class="form-group row mx-2">
    <label for="staticEmail" class="col col-form-label">hora de vuelo:</label>
    <div class="col">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
    </div>
  </div>
    

        <div class="form-group row mx-2">
    <label for="staticEmail" class="col col-form-label">Vuelo:</label>
    <div class="col">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
    </div>
  </div>


        <div class="form-group row mx-2">
    <label for="staticEmail" class="col col-form-label">fecha:</label>
    <div class="col">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
    </div>
  </div>


        <div class="form-group row mx-2">
    <label for="staticEmail" class="col col-form-label">hora de Salida:</label>
    <div class="col">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
    </div>
  </div>
       
        <form>
       
    <div class="form-group row mt-2 mx-2">
    <label for="inputPassword" class="col-7 col-form-label ">Cantidad equipaje:</label>
    <div class="col-3 ">
      <input type="text" class="form-control" id="inputPassword" placeholder="">
    </div>
    <div class="col-2"></div>
  </div>
</form> 
    
            <div class="row mx-4">
    <input type="submit" class="btn btn-primary btn-lg btn-block my-2 " value="CONFIRMAR">
        </div>
        

        </div> <!--cierre del ajax-->

</form>
</div>
</div>

<div class="col d-none d-sm-block"></div>
    </div>
 </div>  

   




    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
