<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
	<title></title>
	<link rel="stylesheet" href="">
	<link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<header id="header" class="">
		
	</header><!-- /header -->	

<!-- <nav class="">
    <ul>
        <li><a href="#"></a></li> 
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
     <li><a href="#"></a></li>
    </ul> 
</nav> -->

<section>
<div class="container py-3">
 
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Info Vuelos Pasajeros</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    
            
    

 <div class="modal-content card text-center border-info mb-3" style="width: 55rem;">
     <div class="card-body ">
        <h4 class="card-title">Informacion de Vuelo y Pasajeros</h4>
      <br>
      <h5 class="card-title">Areolinea XXXX</h5>
      <h5 class="card-title">Rif XXXX</h5>
      <h5 class="card-title">Sucursal XXXX</h5>

      <br>

    <form>

       

        <br>
                     
      <div class="form-row">
          <div class="form-group col-md-4">
                    <label for="inputPuesto"> Vuelo: </label>
                    <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon"> <i class="fa fa-plane" aria-hidden="true"></i> </div>
                      <input type="text" readonly="" class="form-control-plaintext  p-1 border  border-info border-top-0 border-left-0" id="staticEmail2" value="   Puesto ñoña" >
                      </div>
              </div>

                    <div class="form-group col-md-4">
                    <label for="inputPuesto"> Origen: </label>
                    <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon"> <i class="fa fa-plane" aria-hidden="true"></i> </div>
                      <input type="text" readonly="" class="form-control-plaintext  p-1 border  border-info border-top-0 border-left-0" id="staticEmail2" value="   Puesto ñoña" >
                      </div>
              </div>

                      <div class="form-group col-md-4">
                    <label for="inputPuesto"> Destino: </label>
                    <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon"> <i class="fa fa-plane" aria-hidden="true"></i> </div>
                      <input type="text" readonly="" class="form-control-plaintext  p-1 border  border-info border-top-0 border-left-0" id="staticEmail2" value="   Puesto ñoña" >
                      </div>
              </div>

        
          </div>
  

              <div class="form-row">
                     
                 <div class="form-group col-md-4">
                    <label for="inputApellido">Fecha:</label>
                <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon">  <i class="fa fa-calendar" aria-hidden="true"></i> </div> 
                    <input type="text" readonly="" class="form-control-plaintext p-1 border  border-info border-top-0 border-left-0" id="staticEmail2" value=" XXXX">
                  </div> 
              </div>         

              <div class="form-group col-md-4">
                    <label for="inputApellido">Hora del Vuelo:</label>
                <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon">  <i class="fa fa-hourglass-half" aria-hidden="true"></i> </div> 
                    <input type="text" readonly="" class="form-control-plaintext p-1 border  border-info border-top-0 border-left-0" id="staticEmail2" value=" XXXX">
                  </div> 
              </div> 
           </div>




            <br><br>
                      <h4>Tripilacion:</h4>
        <br> 

      <div class="form-row">
          <div class="form-group col-md-4">
                    <label for="inputPuesto"> Piloto:</label>
                    <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon"> <i class="fa fa-user-o" aria-hidden="true"></i> </div>
                      <input type="text" readonly="" class="form-control-plaintext  p-1 border  border-info border-top-0 border-left-0" id="staticEmail2" value="   Puesto ñoña" >
                      </div>
              </div>
              <div class="form-group col-md-4">
                    <label for="inputApellido"> Copiloto:</label>
                  <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon"> <i class="fa fa-user-o" aria-hidden="true"></i> </div>
                    <input type="text" readonly="" class="form-control-plaintext p-1 border  border-info border-top-0 border-left-0" id="staticEmail2" value=" Numero laptop lentaaa">
                  </div>
              </div>


              <div class="form-group col-md-4">
                    <label for="inputApellido"> Jefe de Cabina:</label>
                <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon">  <i class="fa fa-user-o" aria-hidden="true"></i> </div> 
                    <input type="text" readonly="" class="form-control-plaintext p-1 border  border-info border-top-0 border-left-0" id="staticEmail2" value=" XXXX">
                  </div> 
              </div>              
          </div>
  
            <br>

            <div class="form-row">
          <div class="form-group col-md-4">
                    <label for="inputPuesto"> Aeromosa 1º:</label>
                    <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon"> <i class="fa fa-user-o" aria-hidden="true"></i> </div>
                      <input type="text" readonly="" class="form-control-plaintext  p-1 border  border-info border-top-0 border-left-0" id="staticEmail2" value="   Puesto ñoña" >
                      </div>
              </div>
              <div class="form-group col-md-4">
                    <label for="inputApellido"> Aeromosa 2º:</label>
                  <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon"> <i class="fa fa-user-o" aria-hidden="true"></i> </div>
                    <input type="text" readonly="" class="form-control-plaintext p-1 border  border-info border-top-0 border-left-0" id="staticEmail2" value=" Numero laptop lentaaa">
                  </div>
              </div>


              <div class="form-group col-md-4">
                    <label for="inputApellido"> Aeromosa 3º:</label>
                <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon">  <i class="fa fa-user-o" aria-hidden="true"></i> </div> 
                    <input type="text" readonly="" class="form-control-plaintext p-1 border  border-info border-top-0 border-left-0" id="staticEmail2" value=" XXXX">
                  </div> 
              </div>              
          </div>
            
          <br>               
          <br>
                      <h4>Pasajeros:</h4>
            <br>
              

          <div class="table-responsive">
            <table class="table table-bordered table-hover text-center" >
              <tr class="bg-white " >
               <th class="border   border-primary border-left-0">Identificacion </th>
               <th class="border  border-primary ">Nombre</th>
               <th class="border  border-primary ">Apellido</th>
               <th class="border  border-primary border-right-0 border-left-0">Abordaje</th>
              </tr>
              
              <tr>
                <td>Maiquetía</td>
                <td>21/10/2017</td>
                <td>12</td>
                <td> <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">1</span>
          </label>
              </td>
                           
              </tr>

                <tr>
                <td>Maiquetía</td>
                <td>21/10/2017</td>
                <td>12</td>
                <td> <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">1</span>
          </label>
              </td>
                           
              </tr>
                
            </table>
           </div>
        <br> 
                     
             <h4>Pasajeros de Contingencia:</h4>
            <br> <br>
              
               <div class="table-responsive">
            <table class="table table-bordered table-hover text-center" >
              <tr class="bg-white " >
               <th class="border   border-primary border-left-0">Identificacion </th>
               <th class="border  border-primary ">Nombre</th>
               <th class="border  border-primary ">Apellido</th>
               <th class="border  border-primary border-right-0 border-left-0">Abordaje</th>
              </tr>
              
              <tr>
                <td>Maiquetía</td>
                <td>21/10/2017</td>
                <td>12</td>
                <td> <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">1</span>
          </label>
              </td>
                           
              </tr>

                <tr>
                <td>Maiquetía</td>
                <td>21/10/2017</td>
                <td>12</td>
                <td> <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">1</span>
          </label>
              </td>
                           
              </tr>
                
            </table>
           </div>
        
         <div class="form align-items-center">          
                       
              <div class="col-auto">
                 <button type="button" class="btn btn-outline-primary">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                 Imprimir</button> 

            <button type="button" class="btn btn-outline-success">salir</button>
              </div>
            
          </div> 
         
    </form>
            
      </div>
  </div>   



  </div>



</div>

  
    </div>
  


</section>



<footer>
	
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script type="text/javascript" src="//js/popper.min.js"></script>
<script type="text/javascript" src="//js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>

