<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
	<title></title>
	<link rel="stylesheet" href="">
	<link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<header id="header" class="">
		
	</header><!-- /header -->	

<!-- <nav class="">
    <ul>
        <li><a href="#"></a></li> 
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
     <li><a href="#"></a></li>
    </ul> 
</nav> -->

<section>
<div class="container py-3">
 

 <div class="card text-center border-info mb-3" style="width: 60rem;">
     <div class="card-body ">
        <h4 class="card-title">Reporte Informacion de Vuelos</h4>
      <br>

    <form>

      
 

         <br>          


          <div class="form-row">


          <div class="form-group col-md-4">
                    <label for="inputPuesto">Seleccione la Fecha</label>
                    <div class="text-center">
            <input type="date" placeholder="introduzca fecha" />
              </div>  
              </div>


              <div class="form-group col-md-4">
                    <label for="inputApellido">Seleciona el tipo de vuelo:</label>
                  <div class="input-group mb-2 mb-sm-0 col-md-12">
                   <div class="input-group-btn">
                  <button type="button" class="btn btn-secondary dropdown-toggle"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Vuelos
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#!">Ejecutando</a>
                     <a class="dropdown-item" href="#!">Abiertos</a>
                    <a class="dropdown-item" href="#!">Cancelados</a>
                  </div>
                </div>
               <input type="text" class="form-control" aria-label="Text input with dropdown button">
              <div class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i> </div>
              </div> 
                   
              </div>
                

                 <div class="form-group col-md-4">
                    <label for="inputApellido">Seleciona la Sucursal:</label>
                  <div class="input-group mb-2 mb-sm-0 col-md-12">
                   <div class="input-group-btn">
                  <button type="button" class="btn btn-secondary dropdown-toggle"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sucursal
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#!">Sucre</a>
                     <a class="dropdown-item" href="#!">Anzuategui</a>
                    <a class="dropdown-item" href="#!">Caracas</a>
                  </div>
                </div>
               <input type="text" class="form-control" aria-label="Text input with dropdown button">
              </div> 
                    
              </div>
                
              <!--
              <div class="form-group col-md-4">
                    <label for="inputApellido">Selecione la Sucursal:</label>
                <div class="input-group mb-2 mb-sm-0 col-md-8">
                   <select class="form-control border-0 text-dark font-weight-bold select select-hover" id="">
                  <option class="bg-white">Sucursales</option>
                  <option class="bg-white">Sucre</option>
                  <option class="bg-white">Anzuategui</option>
                  <option class="bg-white">Marzo</option>
                  <option class="bg-white">Abril</option>
                  <option class="bg-white">Mayo</option>
                  <option class="bg-white">Junio</option>
                  <option class="bg-white">Julio</option>
                  <option class="bg-white">Agosto</option>
                  <option class="bg-white">Septiembre</option>
                  <option class="bg-white">Octubre</option>
                  <option class="bg-white">Nobiembre</option>
                  <option class="bg-white">Diciembre</option>
                </select>  
                 </div>    
              </div>  -->
              
          </div>


        <br><br>
      <div class="table-responsive">
            <table class="table table-bordered table-hover text-center" >
              <tr class="bg-white " >
               <th class="border  border-primary border-left-0">
               Sucursal           
                </th>
              <th class="border  border-primary">Nombre vuelo</th>
               <th class="border  border-primary ">hora</th>
               <th class="border  border-primary ">Pasajeros</th>
               <th class="border  border-primary">Boletos vendidos</th>
               <th class="border  border-primary">Boletos Reservados</th>

              <th class="border  border-primary">Piloto</th>
              <th class="border  border-primary">Copiloto</th>
              <th class="border  border-primary border-right-0 border-left-0">Jefe Cabina</th>

              </tr>
              <tr>
                <td>Maiquetía</td>
                <td>21/10/2017</td>
                <td>12</td>
                <td>2000</td>
                <td>habilitado</td>
                <td>habilitado</td>
                <td> Piloto</td>       
                <td> Patron</td>
                <td> Pmmmm</td>               
              </tr>
              <tr>
                <td>Maiquetía</td>
                <td>21/10/2017</td>
                <td>12</td>
                <td>2000</td>
                <td>habilitado</td>
                <td>habilitado</td>
                <td> Piloto</td>       
                <td> Patron</td>
                <td> Pmmmm</td>               
              </tr>
              <tr>
                <td>Maiquetía</td>
                <td>21/10/2017</td>
                <td>12</td>
                <td>2000</td>
                <td>habilitado</td>
                <td>habilitado</td>
                <td> Piloto</td>       
                <td> Patron</td>
                <td> Pmmmm</td>               
              </tr>
              <tr>
                <td>Maiquetía</td>
                <td>21/10/2017</td>
                <td>12</td>
                <td>2000</td>
                <td>habilitado</td>
                <td>habilitado</td>
                <td> Piloto</td>       
                <td> Patron</td>
                <td> Pmmmm</td>               
              </tr>              
            </table>
          <br>

          </div>
                     
      <div class="form-row">
          <div class="form-group col-md-4">
                    <label for="inputPuesto"> Total de Vuelos: </label>
                    <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon"> <i class="fa fa-plane" aria-hidden="true"></i> </div>
                      <input type="text" readonly="" class="form-control-plaintext  p-1 border  border-info border-top-0 border-left-0" id="staticEmail2" value="   Puesto ñoña" >
                      </div>
              </div>
              <div class="form-group col-md-4">
                    <label for="inputApellido"> Total de Pasajeros</label>
                  <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon"> <i class="fa fa-user-o" aria-hidden="true"></i> </div>
                    <input type="text" readonly="" class="form-control-plaintext p-1 border  border-info border-top-0 border-left-0" id="staticEmail2" value=" Numero laptop lentaaa">
                  </div>
              </div>


              <div class="form-group col-md-4">
                    <label for="inputApellido"> Total de Boletos Vendidos:</label>
                <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon">  <i class="fa fa-tag" aria-hidden="true"></i> </div> 
                    <input type="text" readonly="" class="form-control-plaintext p-1 border  border-info border-top-0 border-left-0" id="staticEmail2" value=" XXXX">
                  </div> 
              </div>              
          </div>
  
            <br> <br>



                  <div class="form align-items-center">          
                       
              <div class="col-auto">
                 <button type="button" class="btn btn-outline-primary">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                 Imprimir</button> 

            <button type="button" class="btn btn-outline-success">salir</button>
              </div>
            
          </div> 
         
    </form>
            
      </div>
  </div>   



  </div>



</div>



</section>



<footer>
	
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script type="text/javascript" src="//js/popper.min.js"></script>
<script type="text/javascript" src="//js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>

