<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
	<title></title>
	<link rel="stylesheet" href="">
	<link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<header id="header" class="">
		
	</header><!-- /header -->	

<!-- <nav class="">
    <ul>
        <li><a href="#"></a></li> 
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
     <li><a href="#"></a></li>
    </ul> 
</nav> -->

<section>
	<div class="container py-3  bg-info">

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h4 class="card-title">Venta Registro y Reserbacion de boletos</h4>

    <div class="card text-center border-info mb-3" style="width: 55rem;">
 		 <div class="card-body ">
    		<h4 class="card-title">Vuelo</h4>
			<br>

		<form>
					<div> <!-- OJOOOOOO INFORMACION de AJAX -->
										
				<div class="form-group">
  						  <label for="inputvuelos">Seleccion de Vuelos</label>
							<div class="input-group">
  							<div class="input-group-btn">
  							  <button type="button" class="btn btn-secondary dropdown-toggle"
  							          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Vuelos
  							  </button>
  							  <div class="dropdown-menu">
  							    <a class="dropdown-item" href="#!">Action</a>
  							    <a class="dropdown-item" href="#!">Another action</a>
  							  </div>
  							</div>
 							 <input type="text" class="form-control" aria-label="Text input with dropdown button">
							<div class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i> </div>


							</div>
  				</div>

  			</div> <!-- OJOOOOOO FIN INFORMcion de AJAX -->

			<div> <!-- OJOOOOOO INFORMACION de AJAX -->
				<div class="form-group">
  						  <label for="inputvuelos">Fechas disponibles para el vuelo</label>
							<div class="input-group">
  							<div class="input-group-btn">
  							  <button type="button" class="btn btn-secondary dropdown-toggle"
  							          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Fechas
  							  </button>
  							  <div class="dropdown-menu">
  							    <a class="dropdown-item" href="#!">Action</a>
  							    <a class="dropdown-item" href="#!">Another action</a>
  							  </div>
  							</div>
 							 <input type="text" class="form-control" aria-label="Text input with dropdown button">
							</div>
  				</div>
  				</div> <!-- OJOOOOOO FIN INFORMcion de AJAX -->
			


			
				<div class="form-row">
					<div class="form-group col-md-4">
      							<label for="inputPuesto">Puesto del pasajero</label>
      							<div class="input-group mb-2 mb-sm-0">
    							  <div class="input-group-addon"> <i class="fa fa-user-o" aria-hidden="true"></i> </div>
      								<input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="   Puesto ñoña">
      								</div>
  						</div>
   						<div class="form-group col-md-4">
    							  <label for="inputApellido">Numero de Boleto:</label>
									<div class="input-group mb-2 mb-sm-0">
    							  <div class="input-group-addon"> # </div>
    							  <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value=" Numero laptop lentaaa">
    							</div>
    					</div>


    					<div class="form-group col-md-4">
    							  <label for="inputApellido">Costo Vuelo:</label>
									<div class="input-group mb-2 mb-sm-0">
    							  <div class="input-group-addon">  <i class="fa fa-money" aria-hidden="true"></i> </div> 
    							  <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value=" XXXX">
    							</div> 
    					</div>

    					
  				</div>


		
						<br>

 <p>
  <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Segunada pierna
  </a>
 </p>
<div class="collapse" id="collapseExample">
 <div> <!-- OJOOOOOO INFORMACION de AJAX -->	
				<div class="form-group">
  						  <label for="inputvuelos">Seleccion de Vuelos</label>
							<div class="input-group">
  							<div class="input-group-btn">
  							  <button type="button" class="btn btn-secondary dropdown-toggle"
  							          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Vuelos
  							  </button>
  							  <div class="dropdown-menu">
  							    <a class="dropdown-item" href="#!">Action</a>
  							    <a class="dropdown-item" href="#!">Another action</a>
  							  </div>
  							</div>
 							 <input type="text" class="form-control" aria-label="Text input with dropdown button">
							<div class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i> </div>


							</div>
  				</div>

  			</div> <!-- OJOOOOOO FIN INFORMcion de AJAX -->

			<div> <!-- OJOOOOOO INFORMACION de AJAX -->
				<div class="form-group">
  						  <label for="inputvuelos">Fechas disponibles para el vuelo</label>
							<div class="input-group">
  							<div class="input-group-btn">
  							  <button type="button" class="btn btn-secondary dropdown-toggle"
  							          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Fechas
  							  </button>
  							  <div class="dropdown-menu">
  							    <a class="dropdown-item" href="#!">Action</a>
  							    <a class="dropdown-item" href="#!">Another action</a>
  							  </div>
  							</div>
 							 <input type="text" class="form-control" aria-label="Text input with dropdown button">
							</div>
  				</div>
  				</div> <!-- OJOOOOOO FIN INFORMcion de AJAX -->
			


			
				<div class="form-row">
					<div class="form-group col-md-4">
      							<label for="inputPuesto">Puesto del pasajero</label>
      							<div class="input-group mb-2 mb-sm-0">
    							  <div class="input-group-addon"> <i class="fa fa-user-o" aria-hidden="true"></i> </div>
      								<input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="   Puesto ñoña">
      								</div>
  						</div>
   						<div class="form-group col-md-4">
    							  <label for="inputApellido">Numero de Boleto:</label>
									<div class="input-group mb-2 mb-sm-0">
    							  <div class="input-group-addon"> # </div>
    							  <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value=" Numero laptop lentaaa">
    							</div>
    					</div>


    					<div class="form-group col-md-4">
    							  <label for="inputApellido">Costo Vuelo:</label>
									<div class="input-group mb-2 mb-sm-0">
    							  <div class="input-group-addon">  <i class="fa fa-money" aria-hidden="true"></i> </div> 
    							  <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value=" XXXX">
    							</div> 
    					</div>
    			</div>
</div>



			<br>
			<h4 class="card-title">Datos del pasajero</h4>
			<br>

			<div class="form-row">
					
						<div class="form-group col-md-6">
    							  <label for="inputIdentificacion4">Identificacion:</label>
									 <div class="input-group">  
									  <div class="input-group-addon">
                                <select name="nationality" id="" class="nationality">
                                    <option value="v">V</option>
                                    <option value="e">E</option>
                                </select>
                            </div>	

    							  <input type="password" class="form-control" id="inputPassword4" placeholder="Identificacion">
    							</div>
    					</div>
    				
    					
  				</div>  				


				<div class="form-row">
					<div class="form-group col-md-4">
      							<label for="inputNombre">Nombre del pasajero:</label>
      							<div class="input-group mb-2 mb-sm-0">
    							  <div class="input-group-addon"> <i class="fa fa-user-o" aria-hidden="true"></i> </div>
      								<input type="Nombre" class="form-control" id="inputNombre4" placeholder="Ingrese el nombre del pasajero">
      								</div>
  						</div>
   						<div class="form-group col-md-5">
    							  <label for="inputApellido">Apellido del pasajero:</label>
									<div class="input-group mb-2 mb-sm-0">
    							  <div class="input-group-addon"> <i class="fa fa-user-o" aria-hidden="true"></i> </div>
    							  <input type="password" class="form-control" id="inputApellido4" placeholder="Ingrese el Apellido del pasajero">
    							</div>
    					</div>

    					<div class="form-group col-md-3">
    <label for="staticEmail2" class="sr-only">pasajero con boleto</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="aki va este pasajero tiene un boleto pendiente">
  </div>
    					
  				</div>


 				<div class="form-group">
  						  <label for="inputAddress">Direccion</label>
  						  <input type="text" class="form-control" id="inputAddress" placeholder="Direccion de l pasajero">
  				</div>


				<div class="form-row">
					
						<div class="form-group col-md-6">
      							<label for="inputNombre"> Telefono celular</label>
								<div class="input-group mb-2 mb-sm-0">
    							  <div class="input-group-addon"> <i class="fa fa-mobile" aria-hidden="true"></i> </div>
      								<input type="Nombre" class="form-control" id="inputNombre4" placeholder="Ingrese el nombre del pasajero">
      								</div>
  						</div>   						    					
						<div class="form-group col-md-6">
      							<label for="inputNombre">Telefono movil</label>

      							<div class="input-group mb-2 mb-sm-0">
    							  <div class="input-group-addon"> <i class="fa fa-phone" aria-hidden="true"></i> </div>
      								<input type="Nombre" class="form-control" id="inputNombre4" placeholder="Ingrese el nombre del pasajero">
      							</div>
  						</div> 
  				</div>  		


				<div class="form-group row">
    				<label for="inputCosto" class="col-sm-2 col-form-label">Costo total: </label>
    				<div class="col-sm-6">
    					<div class="input-group mb-2 mb-sm-0">
    							  <div class="input-group-addon"> <i class="fa fa-money" aria-hidden="true"></i> </div>
    				 <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value=" XXXX">
    				  </div>
    				</div>
  					</div>
  		
			<button type="button" class="btn btn-outline-primary">Reservar</button>
			<button type="button" class="btn btn-outline-secondary">Comprar</button>
			<button type="button" class="btn btn-outline-success">Cancelar Reservacion</button>
			
		</form>
		    		
  		</div>
	</div>
    
  </div>

</div>

<form>

	</div>




</section>



<footer>
	
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script type="text/javascript" src="//js/popper.min.js"></script>
<script type="text/javascript" src="//js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>

